[Unit]
Description=rtlc.service

[Service]
Type=simple

User=lins
Group=lins

WorkingDirectory=/srv/rtlc
ExecStart=/usr/bin/python3 /srv/rtlc/rtlc.py

[Install]
WantedBy=multi-user.target
